<!doctype html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <title>Gracias</title>
</head>
<body>
    <main role="main">
        <section class="jumbotron">
            <div class="container">
                <h1 class="jumbotron-heading" style="text-align: center">
                    <img src="../img/graciasGif2.gif" />    
                </h1>
                
            </div>
        </section>
        <p class="lead text-muted" style="text-align: center">
                    Usando BPSS-Gestión contribuís a que cada día sea un sistema mejor. 
                    <br>
        </p>
        <p style="text-align: center">
            
        </p>
    </main>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>