<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dipolecalculator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/84b2a066-3571-48ec-bf39-5ec4a96a0603/resourceGroups/function-app/providers/Microsoft.Web/sites/DipoleCalculator</ResourceId>
    <UserName>$DipoleCalculator</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dipolecalculator.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>